{% extends "layout.html" %}
{% block content %}
    <script type="text/javascript">
      $('document').ready(function() {
        //binds to onchange event of your input field
        $('#photo').on('change', function() {
          if(this.files[0].size > 4194304) {
            $(this).val('');
            $('#photo-error').text('File size too large, please select a file under 4mb');
            $('#photo-error').show();
            $('#show-file-name').text('');
          } else {
            $('#photo-error').hide();
            $('#show-file-name').text(this.files[0].name);
          }
        });
      });
    </script>
    <section>
      <div class="row">
        <div class="col-12 page-head"><h1>Add Sign</h1></div>
      </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 login addsign">
            <div class="dialog">
            <form method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }} <!-- csrf token -->
              <fieldset class="form-group">
                <legend class="mb-4">Upload</legend>
                {% include 'messages.html' %}
                <div id="map" class="map"></div><br/>
                {% if form.lat.errors or form.long.errors %}
                  <p class="error-text" style="text-align:center;">You must select an area on the map</p>
                {% endif %}
                <script type="text/javascript">
                  var map = new ol.Map({
                    target: 'map',
                    layers: [
                      new ol.layer.Tile({
                        source: new ol.source.OSM()
                      })
                    ],
                    view: new ol.View({
                      center: ol.proj.fromLonLat([-1.50,52.41]),
                      zoom: 12
                    })
                  });

                  var markerLayer;

                  map.on('singleclick', function (evt) {
                      console.log(evt.coordinate);
                      console.log(map.getLayers());
                      if(markerLayer) {
                        map.removeLayer(markerLayer);
                      }
                      //Make the pin icon
                      var iconStyle = new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                          anchor: [0.5, 46],
                          anchorXUnits: 'fraction',
                          anchorYUnits: 'pixels',
                          opacity: 0.75,
                          src: '../static/img/mappin.png'
                        }))
                      });

                      // convert coordinate to EPSG-4326
                      lonLat = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
                      markerLayer = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                                new ol.Feature({
                                    geometry: new ol.geom.Point(ol.proj.fromLonLat([lonLat[0], lonLat[1]]))
                                })
                            ]
                        }),
                        style: iconStyle
                      });

                      //Add coords to form
                      $('#long').val(lonLat[0]);
                      $('#lat').val(lonLat[1]);


                      map.addLayer(markerLayer)
                  });

                </script>
                <div class="form-group">
                  {{ form.wherefound.label(class="form-control-label col-4") }}
                  {% if form.wherefound.errors %}
                    {{ form.wherefound(class="form-control-md col-6") }}
                    <div class="invalid-feedback">
                      {% for error in form.wherefound.errors %}
                        <p class="error-text">{{ form.wherefound.errors }}</p>
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.wherefound(class="form-control-md col-6") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.title.label(class="form-control-label col-4") }}
                  {% if form.title.errors %}
                    {{ form.title(class="form-control-md col-6") }}
                    <div class="invalid-feedback">
                      {% for error in form.title.errors %}
                        <p class="error-text">{{ form.title.errors }}</p>
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.title(class="form-control-md col-6") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  <label class="col-4"></label>
                  {{ form.photo.label(class="form-control-label btn btn-primary col-4") }}
                  <label id="show-file-name" class="col-2"></label>
                  {% if form.photo.errors %}
                    {{ form.photo(class="form-control-md col-6",style="display:none;") }}
                    <div class="invalid-feedback">
                      {% for error in form.photo.errors %}
                        <p class="error-text">{{ form.photo.errors }}</p>
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.photo(class="form-control-md col-6",style="display:none;") }}
                    <p id="photo-error" class="error-text col-6 offset-4" style="display:none;"></p>
                  {% endif %}
                </div>
                <div class="form-group">
                  {% if form.long.errors %}
                    {{ form.long(class="form-control-md col-8",style="display:none;") }}
                    <div class="invalid-feedback">
                      {% for error in form.long.errors %}
                        <p>{{ form.long.errors }}</p>
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.long(class="form-control-md col-8",style="display:none;") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {% if form.lat.errors %}
                    {{ form.lat(class="form-control-md col-8",style="display:none;") }}
                    <div class="invalid-feedback">
                      {% for error in form.lat.errors %}
                        <p>{{ form.lat.errors }}</p>
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.lat(class="form-control-md col-8",style="display:none;") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.submit(class="btn btn-primary") }}
                </div>
              </fieldset>
            </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </section>
{% endblock content %}
