{% extends "layout.html" %}
{% block content %}


    <section>
      <script type="text/javascript">
        var ratingsChanged = false;
        var locationData;

        $('document').ready(function() {
          $(window).resize(function () {
             //$('#log').append('<div>Handler for .resize() called.</div>');
                var canvasheight=$('.map').parent().css('height');
                var canvaswidth=$('.map').parent().css('width');

                $('.map').css("height", canvasheight);
                $('.map').css("width", canvaswidth);
          });

          $(".star").on('click', function() {
            ratingsChanged = true;

            if($(this).hasClass("fa-star-o")) {
              $(this).removeClass("fa-star-o");
              $(this).addClass("fa-star");
              //Make previous selected
              $(this).prevUntil(".rating").removeClass("fa-star-o");
              $(this).prevUntil(".rating").addClass("fa-star");
            } else if ($(this).hasClass("fa-star")) {
              $(this).parent().children().each(function () {
                $(this).removeClass("fa-star");
                $(this).addClass("fa-star-o");
              });
              $(this).prevUntil(".rating").removeClass("fa-star");
              $(this).prevUntil(".rating").addClass("fa-star-o");
            }

            $(this).parent().parent().find("a").css('display','inline-block');
          });

          $(".submit-rating").click(function(e){

            e.preventDefault();
            console.log(e);

            var signId = $(this).attr('id').toString();
            var rating = $('#rating_'+ signId +' .fa-star').length.toString();
            var dataToSubmit = JSON.stringify({ signId:signId,rating:rating });
            //var rating = $(this).parent().parent().firstChild().find('fa-star');
            $.ajax({
              type: "POST",
              dataType: "application/json",
              url: "/ratesign",
              data: dataToSubmit,
              success: function(data) {
                console.log(data);
              }
            });
          });

          $('#showsigns').click(function(e) {
            e.preventDefault();
            alert("Here");
            console.log(locationData);
            var cardareahtml = "";

            for(var i=0;i<locationData.length;i++)
            {
              /*
              cardareahtml += $('#sign-display-reference').html().replace(/__title__/g, data[i].name)
              .replace(/__defaultbranch__/g, data[i].default_branch)
              .replace(/__lastcommit__/g, updated_at)
              .replace(/__htmlurl__/g, data[i].html_url)
              .replace(/__selectid__/g, data[i].id)
              .replace(/__branchurl__/g, data[i].branches_url.replace("{/branch}",""));
            }*/
           }
          });


        });
      </script>
      <div class="row">
        <div class="col-12 page-head"><h1>View By Location</h1></div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <p>Select a Location on the Map to View Signs</p>
          <div id="mainmap" class="map" ></div>
            <script type="text/javascript">
              var map = new ol.Map({
                target: 'mainmap',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.OSM()
                  })
                ],
                view: new ol.View({
                  //center: ol.proj.fromLonLat([37.41, 8.82]),
                  center: [0, 0],
                  zoom: 1
                }),
                controls: ol.control.defaults({
                  attributionOptions: {
                    className: 'my-ol-attribution'
                  },
                  zoom:false
                })
              });

              //Make the pin icon
              var iconStyle = new ol.style.Style({
                image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                  anchor: [0.5, 46],
                  anchorXUnits: 'fraction',
                  anchorYUnits: 'pixels',
                  opacity: 0.75,
                  src: '../static/img/mappin.png'
                }))
              });

              function addMarker(lon,lat) {
                console.log('addmarker',lon,lat);
                markerLayer = new ol.layer.Vector({
                  source: new ol.source.Vector({
                      features: [
                          new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([lon, lat]))
                          })
                      ]
                  }),
                  style: iconStyle,
                  type: 'marker'
                });

                map.addLayer(markerLayer)
              }

              //Capture zoom level and submit coordinates when above 10
              map.on('moveend', function(e) {
                //Remove unwanted markers
                var layers = [...map.getLayers().getArray()];
                markerLayers = layers.filter(l => l.values_.type == "marker");
                markerLayers.forEach((layer) => map.removeLayer(layer));
                console.log(markerLayers);
                var newZoom = map.getView().getZoom();
                console.log('new zoom: ' + newZoom);
                if(newZoom > 10) {
                  var extent = map.getView().calculateExtent(map.getSize());
                  extent = ol.proj.transformExtent(extent, 'EPSG:3857', 'EPSG:4326');
                  //var bottomLeft = ol.toLonLat(ol.extent.getBottomLeft(extent));
                  //var topRight = ol.toLonLat(ol.extent.getTopRight(extent));
                  dataToSubmit = JSON.stringify({extent:extent});
                  $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/getsignswithin",
                    data: dataToSubmit,
                    success: function(data) {
                      console.log("Here");
                      console.log(data);
                      for(var i=0;i<data.length;i++) {
                        locationData = data;
                        addMarker(data[i].location.coordinates[0].$numberDecimal,data[i].location.coordinates[1].$numberDecimal);
                      }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    { console.log("Error: " + errorThrown);  }
                  });
                }
              });
            </script>
        </div>
        <div class="col-1"></div>
      </div>

      <div class="row">
          <button id="showsigns">show</button>
      </div>

        <div id="sign-display-reference" style="display:none;">
            <div class="row sign-row sign-row-top">
              <div class="col sign-header-left">
                &quot;__sign_title__&quot; - by __sign_creator_username__ on __sign_created__
              </div>
              <div class="col sign-header-right">
                __sign_wherefound__
              </div>
            </div>
            <div class="row sign-row">
              <div class="col-sm-6 align-items-stretch sign-pic">
                <div class="card">
                  <!--
                  <div class="card-header">
                    &quot;__sign_title__&quot; - by __sign_creator_username__ on __sign_created__
                  </div>
                  -->
                  <img class="card-img-top" src="/pictures/__sign_file__ }}" alt="__sign_title__">
                </div>
              </div>
              <div class="col-sm-6 align-items-stretch sign-map">
                <div class="card">
                  <!--
                  <div class="card-header">
                    __sign_wherefound__
                  </div>
                  -->
                  <div class="card-text card-map">
                  <div id="map__sign_id__" class="map"></div>
                    <script type="text/javascript">
                      var long = "__sign_long__";
                      var lat = "__sign_lat__";

                      var map = new ol.Map({
                        target: 'map__sign_id__',
                        layers: [
                          new ol.layer.Tile({
                            source: new ol.source.OSM()
                          })
                        ],
                        view: new ol.View({
                          //center: ol.proj.fromLonLat([37.41, 8.82]),
                          center: ol.proj.fromLonLat([long,lat]),
                          zoom: 12
                        }),
                        controls: ol.control.defaults({
                          attributionOptions: {
                            className: 'my-ol-attribution'
                          },
                          zoom:false
                        })
                      });

                      //Make the pin icon
                      var iconStyle = new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                          anchor: [0.5, 46],
                          anchorXUnits: 'fraction',
                          anchorYUnits: 'pixels',
                          opacity: 0.75,
                          src: '../static/img/mappin.png'
                        }))
                      });

                      markerLayer = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                                new ol.Feature({
                                  geometry: new ol.geom.Point(map.getView().getCenter())
                                })
                            ]
                        }),
                        style: iconStyle
                      });

                      map.addLayer(markerLayer)
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sign-footer">
              <div class="col">
                {% if current_user.is_authenticated %}
                  {% if __sign_already_rated__ %}
                    Rated <i class="fa fa-check" aria-hidden="true"></i>
                  {% else %}
                    Rate:
                    <div id="rating___signid__" class="rating" style="display:inline-block">
                      <i class="fa fa-star-o star"></i>
                      <i class="fa fa-star-o star" ></i>
                      <i class="fa fa-star-o star"></i>
                      <i class="fa fa-star-o star"></i>
                      <i class="fa fa-star-o star"></i>
                    </div>
                    <div class="rating">
                      <a id="__signid__" class="submit-rating" href="#" style="display:none;"><i class="fa fa-check-circle-o"></i></a><br>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
              <div class="col">
              </div>
            </div>
            <br/>
          </div>

      <div id="display-signs-area"></div>
    </section>
{% endblock content %}
