{% extends "layout.html" %}
{% block content %}


    <section>
      <script type="text/javascript">
        var ratingsChanged = false;
        var locationData = [];

        $('document').ready(function() {

          $(window).resize(function () {
             /*
                var canvasheight=$('.map').parent().css('height');
                var canvaswidth=$('.map').parent().css('width');

                alert(canvaswidth);

                $('.map').css("height", canvasheight);
                $('.map').css("width", canvaswidth);
              */
          });

          $(".star").on('click', function() {
            ratingsChanged = true;

            if($(this).hasClass("fa-star-o")) {
              $(this).removeClass("fa-star-o");
              $(this).addClass("fa-star");
              //Make previous selected
              $(this).prevUntil(".rating").removeClass("fa-star-o");
              $(this).prevUntil(".rating").addClass("fa-star");
            } else if ($(this).hasClass("fa-star")) {
              $(this).parent().children().each(function () {
                $(this).removeClass("fa-star");
                $(this).addClass("fa-star-o");
              });
              $(this).prevUntil(".rating").removeClass("fa-star");
              $(this).prevUntil(".rating").addClass("fa-star-o");
            }

            $(this).parent().parent().find("a").css('display','inline-block');
          });

          $(".submit-rating").click(function(e){

            e.preventDefault();
            console.log(e);

            var signId = $(this).attr('id').toString();
            var rating = $('#rating_'+ signId +' .fa-star').length.toString();
            var dataToSubmit = JSON.stringify({ signId:signId,rating:rating });
            //var rating = $(this).parent().parent().firstChild().find('fa-star');
            $.ajax({
              type: "POST",
              dataType: "application/json",
              url: "/ratesign",
              data: dataToSubmit,
              success: function(data) {
                console.log(data);
              }
            });
          });

          /*
          $('#showsigns').click(function(e) {
            e.preventDefault();
            alert("Here");
            console.log(locationData);
            locationData = locationData.map((loc) => loc._id.$oid);
            console.log(locationData);
            var cardareahtml = "";
          });
          */

        });
      </script>
      <div class="row">
        <div class="col-12 page-head"><h1>View By Location</h1></div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-10 maparea">
          <div class="row">
            <div class="col map-head"><p>Select a Location on the Map to View Signs</p></div>
          </div>
          <div class="row">
            <div class="col mapcontainer">
              <div id="mainmap" class="map" >
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row show-button-row">
            <div class="col">
              <form method="POST" action="">
                {{ form.hidden_tag() }} <!-- csrf token -->
                <div class="form-group">
                  {% if form.signids.errors %}
                    {{ form.signids(class="form-control-md col-8") }}
                    <div class="invalid-feedback">
                      {% for error in form.signids.errors %}
                        <p>{{ form.signids.errors }}</p>
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.signids(class="form-control-md col-8 hide-on-render") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.submit(class="btn btn-primary show-btn",disabled=True) }}
                </div>
              </form>
            </div>
          </div>
            <script type="text/javascript">
              var mainmap = new ol.Map({
                target: 'mainmap',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.OSM()
                  })
                ],
                view: new ol.View({
                  //center: ol.proj.fromLonLat([37.41, 8.82]),
                  center: [0, 0],
                  zoom: 1
                }),
                controls: ol.control.defaults({
                  attributionOptions: {
                    className: 'my-ol-attribution'
                  }
                })
              });

              //Make the pin icon
              var iconStyle = new ol.style.Style({
                image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                  anchor: [0.5, 46],
                  anchorXUnits: 'fraction',
                  anchorYUnits: 'pixels',
                  opacity: 0.75,
                  src: '../static/img/mappin.png'
                }))
              });

              function addMarker(lon,lat,item) {
                console.log('addmarker',lon,lat);
                markerLayer = new ol.layer.Vector({
                  source: new ol.source.Vector({
                      features: [
                          new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([lon, lat])),
                            item: item
                          })
                      ]
                  }),
                  style: iconStyle,
                  type: 'marker'
                });



                mainmap.addLayer(markerLayer)
              }

              //Capture zoom level and submit coordinates when above 10
              mainmap.on('moveend', function(e) {
                var layers = [...mainmap.getLayers().getArray()];
                var overlays = [...mainmap.getOverlays().getArray()];
                //Hide the overlay if exists
                overlay.setPosition(undefined);
                closer.blur();
                //Remove markers and clear the sign id list
                markerLayers = layers.filter(l => l.values_.type == "marker");
                markerLayers.forEach((layer) => mainmap.removeLayer(layer));
                $('#signids').val('');
                //$('#submit').addClass('hide-on-render');
                if(locationData.length == 0) {
                  $('#submit').attr('disabled',true);
                }
                locationData = [];
                var newZoom = mainmap.getView().getZoom();
                console.log('new zoom: ' + newZoom);
                if(newZoom > 10) {
                  var extent = mainmap.getView().calculateExtent(mainmap.getSize());
                  extent = ol.proj.transformExtent(extent, 'EPSG:3857', 'EPSG:4326');
                  //var bottomLeft = ol.toLonLat(ol.extent.getBottomLeft(extent));
                  //var topRight = ol.toLonLat(ol.extent.getTopRight(extent));
                  dataToSubmit = JSON.stringify({extent:extent});
                  $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/getsignswithin",
                    data: dataToSubmit,
                    success: function(data) {
                      for(var i=0;i<data.length;i++) {
                        locationData = data;
                        addMarker(data[i].location.coordinates[0].$numberDecimal,data[i].location.coordinates[1].$numberDecimal,data[i]);
                        locationData = locationData.map((loc) => loc._id.$oid);
                        $('#signids').val(locationData);
                        //$('#submit').removeClass('hide-on-render');
                        $('#submit').attr('disabled',false);
                      }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    { console.log("Error: " + errorThrown);  }
                  });
                }
              });

              //initialise popup
              var container = document.getElementById('popup');
              var content = document.getElementById('popup-content');
              var closer = document.getElementById('popup-closer');

              var overlay = new ol.Overlay({
                  element: container,
                  autoPan: true,
                  autoPanAnimation: {
                      duration: 250
                  }
              });
              mainmap.addOverlay(overlay);

              closer.onclick = function() {
                  overlay.setPosition(undefined);
                  closer.blur();
                  return false;
              };

              mainmap.on('singleclick', function (event) {
                  if (mainmap.hasFeatureAtPixel(event.pixel) === true) {
                      console.log(mainmap.getFeaturesAtPixel(event.pixel)[0].values_);
                      var item = mainmap.getFeaturesAtPixel(event.pixel)[0].values_.item;

                      var coordinate = event.coordinate;

                      content.innerHTML = '<b>'+ item.title +'</b><br/>' +
                      '<img src="/pictures/'+ item.file + '" alt="sign.title"/><br/>' +
                      '<a href="/gosign/'+ item._id.$oid +'">view</a>';
                      console.log(item._id);
                      overlay.setPosition(coordinate);
                  } else {
                      overlay.setPosition(undefined);
                      closer.blur();
                  }
              });
              //https://openstreetmap.be/en/projects/howto/openlayers.html
              //Need way to get the feature

            </script>
        </div>
        <div class="col-1"></div>
      </div><br/>
    </section>
{% endblock content %}
