
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 register">
    <div class="dialog">
     <form method="POST" action="/forgot">
        {{ form.hidden_tag() }} <!-- csrf token -->
        <div class="row">
          {% if forgot %}
          <div class="row">
            <div class="col-sm-3">{{ form.oldpassword.label(class="form-control-label") }}</div>
            <div class="col-sm-3">{{ form.oldpassword(class="form-control-lg") }}</div>
          </div><br/>
          {% endif %}
          <div class="row">
            <div class="col-sm-3">{{ form.password.label(class="form-control-label") }}</div>
            <div class="col-sm-3">{{ form.password(class="form-control-lg") }}</div>
          </div><br/>
          <div class="row">
            <div class="col-sm-3">{{ form.confirm_password.label(class="form-control-label") }}</div>
            <div class="col-sm-3">{{ form.confirm_password(class="form-control-lg") }}</div>
          </div><br/>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </div>
        </form>
       </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
