{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
      <h1>Change Password</h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }} <!-- csrf token -->
        <div class="row">
          <div class="col-sm-3">{{ form.oldpassword.label(class="form-control-label") }}</div>
          <div class="col-sm-3">{{ form.oldpassword(class="form-control-lg") }}</div>
        </div><br/>
        <div class="row">
          <div class="col-sm-3">{{ form.password.label(class="form-control-label") }}</div>
          <div class="col-sm-3">{{ form.password(class="form-control-lg") }}</div>
        </div><br/>
        <div class="row">
          <div class="col-sm-3">{{ form.confirm_password.label(class="form-control-label") }}</div>
          <div class="col-sm-3">{{ form.confirm_password(class="form-control-lg") }}</div>
        </div><br/>
        <div class="row">
          <div class="col-sm-3">{{ form.submit(class="btn btn-primary") }}</div>
        </div>
      </form>
    </div>
{% endblock content %}
