{% extends "layout.html" %}
{% block content %}
    <section>
      <div class="row">
        <div class="col-12 page-head"><h1>Change Password</h1></div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 register">
          <div class="dialog">
            <form method="POST" action="">
              {{ form.hidden_tag() }} <!-- csrf token -->
              <div class="row">
                <div class="col-sm-6">{{ form.oldpassword.label(class="form-control-label") }}</div>
                <div class="col-sm-6">{{ form.oldpassword(class="form-control-sm") }}</div>
              </div><br/>
              <div class="row">
                <div class="col-sm-6">{{ form.password.label(class="form-control-label") }}</div>
                <div class="col-sm-6">{{ form.password(class="form-control-sm") }}</div>
              </div><br/>
              <div class="row">
                <div class="col-sm-6">{{ form.confirm_password.label(class="form-control-label") }}</div>
                <div class="col-sm-6">{{ form.confirm_password(class="form-control-sm") }}</div>
              </div><br/>
              <div class="row">
                <div class="col-sm-6">{{ form.submit(class="btn btn-primary") }}</div>
              </div>
            </form>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </section>
{% endblock content %}
