{% extends "layout.html" %}
{% block content %}
    <section>
      <div class="row">
        <div class="col-12 page-head"><h1>Forgot</h1></div>
      </div>
      {% if confirmed %}
        <form method="POST" action="">
          {{ form.hidden_tag() }} <!-- csrf token -->
            <div class="row">
              <div class="col-sm-3">{{ form.password.label(class="form-control-label") }}</div>
              <div class="col-sm-3">{{ form.password(class="form-control-sm") }}</div>
            </div><br/>
            <div class="row">
              <div class="col-sm-3">{{ form.confirm_password.label(class="form-control-label") }}</div>
              <div class="col-sm-3">{{ form.confirm_password(class="form-control-sm") }}</div>
            </div><br/>
            <div class="row">
              <div class="col-sm-3">{{ form.submit(class="btn btn-primary") }}</div>
            </div>
        </form>
      {% else %}
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 register">
          <div class="dialog">
            <form method="POST" action="">
              {{ forgotform.hidden_tag() }} <!-- csrf token -->
              <div class="row">
                <div class="col-sm-6">{{ forgotform.email.label(class="form-control-label") }}</div>
                <div class="col-sm-6">{{ forgotform.email(class="form-control-sm") }}</div>
              </div><br/>
              <div class="row">
                <div class="col-sm-12">{{ forgotform.submit(class="btn btn-primary") }}</div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-3"></div>
      {% endif %}
    </section>
{% endblock content %}
