{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
      <h1>Forgot</h1>
      {% if confirmed %}
        <form method="POST" action="">
          {{ form.hidden_tag() }} <!-- csrf token -->
            <div class="row">
              <div class="col-sm-3">{{ form.password.label(class="form-control-label") }}</div>
              <div class="col-sm-3">{{ form.password(class="form-control-lg") }}</div>
            </div><br/>
            <div class="row">
              <div class="col-sm-3">{{ form.confirm_password.label(class="form-control-label") }}</div>
              <div class="col-sm-3">{{ form.confirm_password(class="form-control-lg") }}</div>
            </div><br/>
            <div class="row">
              <div class="col-sm-3">{{ form.submit(class="btn btn-primary") }}</div>
            </div>
        </form>
      {% else %}
        <form method="POST" action="">
          {{ forgotform.hidden_tag() }} <!-- csrf token -->
          <div class="row">
            <div class="col-sm-3">{{ forgotform.email.label(class="form-control-label") }}</div>
            <div class="col-sm-3">{{ forgotform.email(class="form-control-lg") }}</div>
            <div class="col-sm-3">{{ forgotform.submit(class="btn btn-primary") }}</div>
          </div><br/>
        </form>
      {% endif %}
    </div>
{% endblock content %}
