{% extends "layout.html" %}
{% block content %}
    <script type="text/javascript">
      $('document').ready(function() {
        $('#addcomment').click(function(e) {
          e.preventDefault();

          if( $('#comment-list').is(":hidden")) {
            $('#comment-list').show();
            $('#comment-form').hide();
            $(this).text('Add Comment');
          } else {
            $('#comment-list').hide();
            $('#comment-form').show();
            $(this).text('Cancel');
          }
        });
      });
    </script>
    <section class="section-onesign">
      <div class="row">
        <div class="col-12 page-head"><h1>{{ sign.title }}</h1></div>
      </div>
      <div class="row">
        <div class="col-8 single-card">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col">
                  &quot;{{ sign.title }}&quot; - by {{ sign.creator.username }} on {{ sign.created }}
                </div>
                <div class="col">
                  {{ sign.wherefound }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col single-image"><img class="card-img-top" src="/pictures/{{ sign.file }}" alt="{{ sign.title }}"></div>
              <div class="col">
                <div class="card-text card-map-single">
                  <div id="map{{ sign._id }}" class="map-single"></div>
                    <script type="text/javascript">
                      var map = new ol.Map({
                        target: 'map{{ sign._id }}',
                        layers: [
                          new ol.layer.Tile({
                            source: new ol.source.OSM()
                          })
                        ],
                        view: new ol.View({
                          //center: ol.proj.fromLonLat([37.41, 8.82]),
                          center: ol.proj.fromLonLat([{{ sign.long }},{{ sign.lat }}]),
                          zoom: 12
                        }),
                        controls: ol.control.defaults({
                          attributionOptions: {
                            className: 'my-ol-attribution'
                          },
                          zoom:false,
                        }),
                        interactions: ol.interaction.defaults( {
                          doubleClickZoom: false,
                          dragAndDrop: false,
                          dragPan: false,
                          keyboardPan: false,
                          keyboardZoom: false,
                          mouseWheelZoom: false,
                          pointer: false,
                          select: false
                        })
                      });

                      //Make the pin icon
                      var iconStyle = new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                          anchor: [0.5, 46],
                          anchorXUnits: 'fraction',
                          anchorYUnits: 'pixels',
                          opacity: 0.75,
                          src: '../static/img/mappin.png'
                        }))
                      });

                      markerLayer = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                                new ol.Feature({
                                  //geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ sign.long }}, {{ sign.lat }}]))
                                  geometry: new ol.geom.Point(map.getView().getCenter())
                                })
                            ]
                        }),
                        style: iconStyle
                      });

                      map.addLayer(markerLayer)
                    </script>
                  </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col">
                  {% if current_user.is_authenticated %}
                    {% if sign.already_rated %}
                      <div>Rated</div>
                      <div class="rating"><i class="fa fa-check" aria-hidden="true"></i></div>
                    {% else %}
                      <div>Rate:</div>
                      <div id="rating_{{  sign._id }}" class="rating" style="display:inline-block">
                        <i class="fa fa-star-o star"></i>
                        <i class="fa fa-star-o star" ></i>
                        <i class="fa fa-star-o star"></i>
                        <i class="fa fa-star-o star"></i>
                        <i class="fa fa-star-o star"></i>
                      </div>
                      <div class="rating">
                        <a id="{{ sign._id }}" class="submit-rating" href="#" style="display:none;"><i class="fa fa-check-circle-o"></i></a><br>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="col">
                  <div>Average Rating:</div>
                  <div class="rating" style="display:inline-block">
                    {% for star in sign.starclasses %}
                      <i class="{{ star }}"></i>
                    {% endfor %}
                  </div>
                  <div>Votes: {{ sign.NumberOfRatings }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 register">
          <div class="row">
            <div class="col">
              <h2>Comments</h2>
            </div>
          </div>
          <div id="comment-form" class="row comment-area">
            <div class="col">
              <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }} <!-- csrf token -->
                <div class="row">
                  <div class="col">{{ form.comment.label(class="form-control-label col-2") }}</div>
                </div>
                <div class="row">
                    <div class="col">
                      {% if form.comment.errors %}
                        {{ form.comment(class="form-control-md col-8") }}
                        <div class="invalid-feedback">
                          {% for error in form.comment.errors %}
                            <p>{{ form.comment.errors }}</p>
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                        {{ form.comment(cols="35",rows="5",class="form-control-md comment-text-area") }}
                      {% endif %}
                    </div>
                  </div><br/>
                  <div class="row">
                    <div class="col-sm-12">{{ form.submit(class="btn btn-primary") }}</div>
                  </div>
                </form>
              </div>
            </div>
          </div><br/>
          <div id="comment-list" class="row overflow-auto">
            <div class="col">
              <div class="comment-area">
              {% if sign.comments %}
                {% for comment in sign.comments %}
                  <div class="comment-item">
                    <div class="row">
                      <div class="col">
                        <p class="form-text-muted">By {{ comment.username }} on {{ comment.date_posted }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="comment-text">{{ comment.comment }}</p>
                      </div>
                    </div>
                  </div><br/>
                {% endfor %}
              {% else %}
                <div class="comment-item">
                  <div class="row">
                    <div class="col">
                      <p class="comment-text">There are no comments for this sign</p>
                    </div>
                  </div>
                </div>
              {% endif %}
              </div>
            </div>
        </div><br/>
          <div class="row">
            <div class="col add-comment">
              <a id="addcomment" href="#">Add Comment</a>
            </div>
          </div>
          </div>
        </div>

      </div>
    </section>
{% endblock content %}
