{% extends 'bootstrap/base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block title %}Title{% endblock %}

    {% block styles %}
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
      {% block scripts %}
        <!-- GDPR COOKIE CONSCENT -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
                window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                  "palette": {
                    "popup": {
                      "background": "#343a40"
                    },
                    "button": {
                      "background": "#17a2b8",
                      "text": "#ffffff"
                    }
                  }
                })});
        </script>
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
        {{ super() }}
        {{ datepicker.loader(theme="ui-lightness") }} {# to load jQuery-ui #}
        {{ datepicker.picker(id=".dp",dateFormat='dd-mm-yy') }}
        <!-- GDPR COOKIE CONSCENT -->
      {% endblock %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    {% endblock %}
    {% block metas %}
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    {% endblock %}
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  </head>

  {% block body %}
      <nav class="navbar">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        </div>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message | safe }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div id="alert" class="alert alert-success" style="display:none;"></div>
      {% block content %}
      {% endblock %}
      {% if not home %}
      <footer>
        <h1>FOOTER</h1>
      </footer>
      {% endif %}
  {% endblock %}
