    <section class="section-login">
      <div class="row">
        <div class="col-sm-12 login">
          <form method="POST" action="/home">
            {{ form.hidden_tag() }} <!-- csrf token -->
            <h1>LOGIN</h1>
            {% include 'messages.html' %}
            <fieldset class="form-group">
              <legend class="mb-4">Login below with your email address and password</legend>
              <div class="row">
                <div class="col-sm-4">{{ form.email.label(class="form-control-label") }}</div>
                <div class="col-sm-8">{{ form.email(class="form-control-sm") }}</div>

              </div><br/>
              <div class="row">
                <div class="col-sm-4">{{ form.password.label(class="form-control-label") }}</div>
                <div class="col-sm-8">{{ form.password(class="form-control-sm") }}</div>
              </div><br/>
            </fieldset>
            <div class="row">
                <div class="col-sm-6">{{ form.submit(class="btn btn-primary") }}</div>
            </div><br/>
            <legend><a href="/forgot">Forgot Password?</a></legend>
            <div class="pt-3">
              <small class="form-text-muted">
                Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign up now</a>
              </small>
            </div>
          </form>
          {% if message %}
            <div class="error-message">{{ message }}</div>
          {% endif %}
        </div>
      </div>
    </section>
