{% extends "layout.html" %}
{% block content %}
    <section>
      <div class="row">
        <div class="col-12 page-head"><h1>Register</h1></div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 register">
          <div class="dialog">
          <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- csrf token -->
            <fieldset class="form-group">
              <legend class="mb-4">Join Today</legend>
              {% include 'messages.html' %}
                <div class="row">
                  <div class="col-sm-6">{{ form.username.label(class="form-control-label") }}</div>
                  <div class="col-sm-6">{{ form.username(class="form-control-sm") }}</div>
                </div><br/>
                <div class="row">
                  <div class="col-sm-6">{{ form.email.label(class="form-control-label") }}</div>
                  <div class="col-sm-6">{{ form.email(class="form-control-sm") }}</div>
                </div><br/>
                <div class="row">
                  <div class="col-sm-6">{{ form.password.label(class="form-control-label") }}</div>
                  <div class="col-sm-6">{{ form.password(class="form-control-sm") }}</div>
                </div><br/>
                <div class="row">
                  <div class="col-sm-6">{{ form.confirm_password.label(class="form-control-label") }}</div>
                  <div class="col-sm-6">{{ form.confirm_password(class="form-control-sm") }}</div>
                </div><br/>
                {% if form.confirm_password.errors %}
                  <script type="text/javascript">
                    $('document').ready(function() {
                      $('#confirm_password').addClass('error-message');
                    });
                  </script>
                  {% for e in form.confirm_password.errors %}
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6"><p class="error-text">{{ e }}</p></div>
                    </div>
                  {% endfor %}
                {% endif %}
                <div class="tandc">
                  <p><strong>Terms and Conditions</strong></p>
                  <small>
                    <p>By registering for this site, I agree for the website to store my email address. This is used only for the purpose of user verifitcation
                      and will not be displayed anywhere within the app.</p>
                    <p>I understand that the author of this website is not responsible for any of the content posted by other users.</p>
                    <p>The author reserves the right to remove my account at any point and without warning.</p>
                    <p>I agree not to post any content (images or text) which references or contains, but not limited to any of the following:</p>
                    <ul>
                      <li>Pornography</li>
                      <li>Political / religious propaganda</li>
                      <li>Offensive material targeting specific groups of people (e.g. race, sexuality, religion, disability)</li>
                      <li>Any material inciting violence or hatred</li>
                      <li>Material not relevant to the websites subject matter</li>
                    </ul>
                    <p>If any of the above found or reported will be removed without warning with the possiblity of the account holder being deleted</p>
                  </small>
                </div>
                <div class="row">
                  <div class="col-sm-6">{{ form.iagree.label(class="form-control-label") }}</div>
                  <div class="col-sm-3">{{ form.iagree(class="form-control-sm") }}</div>
                </div><br/>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </form>
          <div class="border-top pt-3">
            <small class="form-text-muted">
              Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign in</a>
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
      </div>
    </section>
{% endblock content %}
