{% extends "layout.html" %}
{% block content %}
    <section class="section-report">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 register">
          <div class="dialog">
          <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- csrf token -->
            <h1>Report</h1>
            {% include 'messages.html' %}
            <fieldset class="form-group">
              <legend class="mb-4">Please use the form below to report any inappropriate signs which have been posted</legend>
              <div class="row">
                <div class="col-sm-4">{{ form.reason.label(class="form-control-label") }}</div>
                <div class="col-sm-8">{{ form.reason(class="form-control-sm") }}</div>
              </div><br/>
              <div class="row">
                <div class="col-sm-12">{{ form.comment.label(class="form-control-label") }}</div>
              </div>
              <div class="row">
                <div class="col-sm-12">{{ form.comment(class="form-control-sm comment-box",rows="8") }}</div>
              </div><br/>
            </fieldset>
            <div class="row">
                <div class="col-sm-12">{{ form.submit(class="btn btn-primary") }}</div>
            </div><br/>
          </form>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </section>
{% endblock %}
