{% extends "layout.html" %}
{% block content %}
    {% include 'sessionscriptblock.html' %}

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <p><strong>Attendees: </strong></p>
            <div id="attendees"></div>
          </div>
        </div>
        {% if foundusers %}
        <div class="row">
          <div class="col">
            <p><strong>Results (click below to invite):</strong></p>
            <div class="listusers">
              {% for user in foundusers %}
                <p><a href="/invite/{{ user.id }}/{{ sessionid }}">{{ user.username }}</a></p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col">
        <form id="emit" method="POST" action='#' class="form-container">
            <label for="emit_data"><b>Message</b></label>
            <textarea placeholder="Type message.." name="emit_data" id="emit_data" required></textarea>
            <!--<input type="text" name="emit_class="btn btn-outline-info"data" id="emit_data" placeholder="Message">-->
            <input type="submit" value="Send" class="btn btn-outline-info">
            <button id="leave" value="Leave Chat" class="btn btn-outline-info">Leave Room</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="log"></div>
      </div>
    </div>
{% endblock content %}
