/*----------------------------------------------*/
/*BASIC SETUP*/
/*----------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #adadad;
  color:#262626;
  font-family: 'Lato','Arial',sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom:1}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

section {
  margin: 0;
  padding: 10px;
  min-height: 500px;
}

footer {
  background-color: #01104a;
  display:flex;
  min-height: 20vh;
  flex-direction: column;
}

.branding {
  margin:0;
  color: #fff;
  font-family: 'Bubblegum Sans', cursive;
  text-transform: uppercase;
}

/*----------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*----------------------------------------------*/

.title-row {
  background-color: #01104a;
  margin-bottom: 20px;
}

.box {
  padding: 1%;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.page-head {
  text-align: center;
  margin: 10px 0;
}

.page-head:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60%;
    border-bottom: 2px solid #262626;
}

.page-head:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60%;
    border-top: 2px solid #262626;
}




/*----------------------------------------------*/
/*HEADER*/
/*----------------------------------------------*/
/* ORANGE - #e67e22;*/


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/pictures/mostrecent);
  height:100vh;
  background-size: auto;
  /*background-size: cover;*/
  background-position: center;
  background-attachment: fixed;
}

.logo {
  height: 135px;
  width: auto;
  float:left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding:8px 8px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #e67e22 transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;

}


.nav-selected:before {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    border-top: 2px solid #fff; /* This creates the border. Replace black with whatever color you want. */
}

.nav-selected:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    border-bottom: 2px solid #fff; /* This creates the border. Replace black with whatever color you want. */
}


.nav-unselected:before {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    margin-top: 2px; /* This creates the border. Replace black with whatever color you want. */
}

.nav-unselected:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    margin-bottom: 2px; /* This creates the border. Replace black with whatever color you want. */
}

.section-login {
  margin: 0;
  padding: 0 10px;
  min-height: 500px;
}


/*----------------------------------------------*/
/*HEADINGS*/
/*----------------------------------------------*/


h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin:0;
  color: #262626;
  font-size: 240%;
  word-spacing: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: 'Bubblegum Sans', cursive;
  text-transform: uppercase;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}


h2::after {
  display: block;
  height: 2px;
  background-color: #262626;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}


/*----------------------------------------------*/
/*Home Page*/
/*----------------------------------------------*/

header .hero-login {
  background-color: rgba(255, 255, 255,.5);
  padding: 20px;
  border-radius: 15px;
}

header .hero-login-col {
  padding: 3%;
}

header .hero-login-col a:active,
header .hero-login-col a:link,
header .hero-login-col a:visited {
  color: #012969;
}

.form-text-muted {
  color: #404040;
}

.herotitle {
  font-size: 600%;
  font-weight: 200;
  font-family: 'Lato','Arial',sans-serif;
  color: #fff;
  text-align: center;
}

.hero-text {
  text-align: center;
  color: #fff;
  padding-top: 10%;
}

.hero-text p {
  color: #fff;
  font-size: 160%;
  font-weight: 300;
}

/*----------------------------------------------*/
/*PARAGRAPHS*/
/*----------------------------------------------*/
.long-copy {
  line-height: 140%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}


/*----------------------------------------------*/
/*ICONS*/
/*----------------------------------------------*/

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-sm {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  /* secrets to align text*/
  line-height: 120%;
  margin-top: -2px;
  vertical-align: middle;
}

/*----------------------------------------------*/
/*LOGIN REGISTRATION ETC*/
/*----------------------------------------------*/

input {
  width: 100%;
  height: 24px;
}

input[type=submit] {
  font-size: 20px;
  height: 46px;
}

input[type=checkbox] {
  font-size: 20px;
  height: 20px;
}

.login, .dialog {
  border: 1px solid #2e2e2e;
  border-radius: 15px;
  padding: 10px;
}

.register,
.addsign {
  background-color: rgba(255, 255, 255,.5);
  padding: 20px;
  border-radius: 15px;
}

.addsign a:active,
.addsign a:link,
.addsign a:visited,
.register a:active,
.register a:link,
.register a:visited {
  color: #012969;
}

.addsign .map {
  height: 200px;
  width: 100%;
  text-align: center;
}

legend {
  font-size: 100%;
  border-bottom: 1px solid #2e2e2e;
}

.error-message {
  background-color: #ff7a70;
  border: 1px solid #910a00;
  color: #910a00;
  padding: 2px;
}

.success-message {
  background-color: #7ed693;
  border: 1px solid #006117;
  color: #006117;
  padding: 2px;
}


.error-text {
  color: #910a00;
}
/*----------------------------------------------*/
/*LINKS*/
/*----------------------------------------------*/

a {
  font-weight: 400;
}


/********************************/
/* STARS */
/********************************/

/* star ratings */
.rating {
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    color: #FFCA00;
}

.rating i, {
    font-size:40px;
    min-height: 80px;
    margin: 0;
    padding: 0;
}

.submit-rating {
  margin-right: 2px;
}

/*show ratings already given */
.rating-starfilled {
    padding: 0 5px;
    margin: 0;
    cursor: pointer;
    display: block;
    float: right;
    color: #FFCA00;
}

.fa-check {
  color: #00b818;
}

/*----------------------------------------------*/
/*CARDS LATEST and POPULAR */
/*----------------------------------------------*/

.card {
  width: 100%;
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}

.card-img-top {
  width: 100%;
  padding: 5%;
}

.sign-header-left,
.sign-header-right {
  background-color: #01104a;
  color: #fff;
  text-align: center;
}

.my-ol-attribution {
  font-family: 'Arial',sans-serif;
  font-size: 10px;
  font-weight: 300;
  height: 10px;
}

.sign-row .sign-pic {
  padding: 0;
  margin: 0;
}

.sign-row .sign-map {
  padding: 0;
  background-color: #fff;
  margin: 0;
}

.sign-row {
  margin: 0 10%;
  background-color: #fff;
}

.sign-row-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.sign-header-left{
  border-top-left-radius: 15px;
}

.sign-header-right {
  border-top-right-radius: 15px;
}

.card .map {
  height: 100vh;
}

.card-map {
  height: 100%;
}

.card-header {
  text-align: center;
}

.navbar {
  background-color: #01104a;
}


.sign-footer {
  margin: 0 10%;
  background-color: #404040;
  color: #fff;
  min-height: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-footer .col div,
.sign-footer .col div {
  display: inline-block;
  vertical-align: middle;
}

.sign-container {
  border-radius: 15px;
  border: 1px solid #000;
  margin: 0 10%;
}

/*----------------------------------------------*/
/*By Location */
/*----------------------------------------------*/

#mainmap {
  width:  80vw;
  height: 70vh;
  text-align: center;
}

.mapcontainer {
  text-align: center;
}

.hide-on-render {
  display:none;
}

.maparea input {
  width:80vw;
}


.map-head {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.map-head p {
  width: 80vw;
  background-color: #01104a;
  color: #fff;
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.show-button-row {
  margin-top: 0;
  padding-top: 0;
  /*padding-left: 26px;*/
}

.show-btn {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.show-button-row div {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ol-popup {
  background-color: rgba(255, 234, 167,.8);
  padding: 10px;
  border-radius: 15px;
}

#popup-content img {
  max-width: 100px;
}

/*----------------------------------------------*/
/*INDIVIDUAL SIGN*/
/*----------------------------------------------*/

.section-onesign {
  margin-right: 14px;
}

.section-onesign .card-header {
  background-color: #01104a;
  color: #fff;
  text-align: center;
}

.section-onesign .card {
  border-radius: 15px;
}

.section-onesign .card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.section-onesign .card-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.section-onesign .card-footer-text {
  color: #FFCA00;
}


.card .map-single {
  height: 60vh;
}

.single-image {
  height: 60vh;
}

.single-image img {
  max-height: 400px;
}

.card-footer {
  background-color: #404040;
  color: #fff;
  min-height: 40px;
}

.comment-area {
  height: 47vh;
}

.add-comment:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;
  padding-bottom: 5px;
  border-top: 2px solid #262626;;
}

.add-comment {
  text-align: center;
}

.comment-text-area {
  width: 100%;
  padding: 10px;
}

#comment-form {
  display: none;
}

.comment-item {
  border-radius: 15px;
  background-color: #fff;
}

.comment-item p {
  margin: 10px;
}

.comment-text {
  color: #4361cc;
}

/*----------------------------------------------*/
/*BUTTONS*/
/*----------------------------------------------*/

*:focus { outline:none; }
